// #AD88C6, #E1AFD1, #FFE6e6, #694f8e, #b692c2, #e36a5c7, #ffdfd6, #f0A8d0, #f7b5ca, #ffc6c6, #ffebd4, e1afd1
// .color1 {color: #687fc4;}
// .color2 {color: #9695d0;}
// .color3 {color: #b7a6d5;}
// .color4 {color: #cebadc;}
// .color5 {color: #e8cde4;}

// 폰트 정보
// 평창평화체 700
@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

// 평창평화체 300
@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

//G마켓 산스
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

//피플퍼스트또박체
@font-face {
  font-family: 'PeoplefirstNeatLoudTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-2@1.0/PeoplefirstNeatLoudTTF.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

// 색상 정보
$main-color: #7469b6;
$btn-color: #7469b6;
$sub-color: #e3a5c7;
$border-color: #ad88c6;
$border-color2: #d6c1e4;
$bg-color: #eae1f0;
$bg-color2: #ceb8da;
$bg-color3: #e4d8eb;
$modal-bgColor: rgba(0, 0, 0, 0.2);

// 중단점 정보
$ssm: 375px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
