// #AD88C6, #E1AFD1, #FFE6e6, #694f8e, #b692c2, #e36a5c7, #ffdfd6, #f0A8d0, #f7b5ca, #ffc6c6, #ffebd4
// .color1 {color: #687fc4;}
// .color2 {color: #9695d0;}
// .color3 {color: #b7a6d5;}
// .color4 {color: #cebadc;}
// .color5 {color: #e8cde4;}

$main-color : #7469B6; 
$btn-color : #7469B6;

$ssm : 375px;
$sm : 640px;
$md : 768px;
$lg : 1024px;
$xl : 1280px;

