.milky {
  width: 100%;
  // margin-top: 50rem;
  text-transform: uppercase;
  display: block;
  font-size: 5rem;
  color: #f1ebe5;
  text-shadow:
    0 8px 9px #ae85d2,
    0px -2px 1px #fff;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  background: linear-gradient(to bottom, #ece4d9 0%, #d3aae8 100%);
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  border-radius: 20px;
}
