.delivery-container {
  display: none;
  @include modalSetting;
  .delivery-bx {
    position: absolute;
    @include center;
    background-color: #fff;
    max-height: 80%;
    width: 400px;
    border-radius: 1rem;
    padding: 2rem 3rem;
    box-sizing: border-box;
    .delivery-title {
      text-align: center;
      position: relative;
      color: $main-color;
      h2 {
        font-size: min(3vw, 2rem);
        padding-bottom: 2rem;
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        font-size: min(3vw, 2rem);
      }
    }
    .delivery-list {
      overflow-y: scroll;
      height: 400px;
      display: flex;
      flex-direction: column;
      .delivery-info {
        display: flex;
        flex-direction: column;
        gap: 0.6rem 0;
        font-size: min(1.2rem, 2vw);
        .delivery-name {
          font-size: min(1.4rem, 2vw);
          .delivery-default {
            display: inline-block;
            margin-left: 1rem;
            color: $main-color;
          }
        }
        .delivery-receiver {
          display: flex;
          gap: 0 0.6rem;
        }
        .delivery-btns {
          display: flex;
          gap: 0 0.6rem;
          button {
            font-size: min(1.2rem, 2vw);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            &:nth-child(odd) {
              background-color: $btn-color;
              color: #fff;
            }
            &:nth-child(even) {
              border: 1px solid $btn-color;
              color: $main-color;
            }
          }
        }
      }
    }
    .delivery-add {
      button {
        width: 100%;
        background-color: $btn-color;
        color: #fff;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 1rem 0;
        font-size: min(1.4rem, 2vw);
      }
    }
  }
}
