@import '../common/reset';
@import '../common/variables';
@import '../common/utils';

.login-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.09);
  width: 100%;
  height: 100vh;
  z-index: 99999;
  top: 0;
  left: 0;
  display: none;
}
.login-content {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 30px 0 60px;
  border: 2px solid $border-color;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px 30px;

  .login-close {
    display: flex;
    justify-content: flex-end;
    button {
      font-size: 2rem;
    }
    button:hover {
      cursor: pointer;
    }
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
  }

  #login-form {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 100%;

    .login-input {
      width: 100%;
      color: $main-color;

      input {
        width: 100%;
        height: 30px;
        border: 1px solid $border-color;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 5px 0;
      }
    }

    button {
      padding: 0;
      display: block;
      border-radius: 5px;
      color: #fff;
      background-color: $border-color;
      padding-block: 0;
      padding-inline: 0;
      padding: 10px;
      box-sizing: border-box;
      font-weight: bold;
      width: 100%;
      margin: 0 auto;
      cursor: pointer;
      font-size: 14px;
    }
  }

  .login-register {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 12px;
      margin: 5px 0;

      :hover {
        color: $main-color;
      }
    }
  }
}

/* 640px 이하 미디어쿼리 */
@media screen and (max-width: $sm) {
  .login-content {
    width: 100%;
  }
}
