@import '../common/reset';
@import '../common/variables';
@import '../common/utils';

// 스와이퍼
.main-page-swiper {
  .swiper-slide img {
    display: block;
    object-fit: contain;
    width: 100%;
    max-height: 80vh;
    margin: auto;
  }

  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    box-sizing: border-box;
    width: 40px !important;
    color: #fff; /* 버튼 색상 */
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20%;
    background-color: rgba(227, 165, 199, 0.8);
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 2.5rem !important;
    color: #fff;
  }

  .swiper-pagination-bullet-active {
    background: $sub-color !important;
  }
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $sub-color;
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: $sub-color;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
}

.main-page {
  color: $main-color;
  .list-items {
    margin-bottom: 3rem;
    div {
      position: relative;
      .load-more {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 1.4rem;
        color: $main-color;
        .more-icon {
          margin-left: 1.5rem;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    h2 {
      font-size: 2.3rem;
      padding: 4rem 0;
      .heart {
        margin: 0 1rem;
        color: $sub-color;
      }
      .won {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        color: #787878;
        border: 2px solid #9f9f23;
        background: #f5e378;
        border-radius: 50%;
        padding: 0.5rem;
        vertical-align: middle;
        margin: 0 1rem;
      }
    }
    ul {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: min(5vw, 6.5rem);
      grid-row-gap: min(5.5vh, 4.6rem);
      .no-item {
        text-align: center;
        position: absolute;
        font-size: min(2.6vw, 2.6rem);
        @include center;
      }
      .list-item {
        .item-img {
          position: relative;
          aspect-ratio: 1 /1;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @include unablePurcheaseItem;
        }
        .item-category {
          color: $main-color;
          padding: 1rem 0 0.6rem;
          font-size: min(1.8vw, 1.2rem);
        }
        .item-title {
          font-size: min(2vw, 1.5rem);
          margin-bottom: 1rem;
        }
        .item-price {
          font-weight: bold;
          font-size: min(2vw, 1.5rem);
          margin-bottom: 0.6rem;
        }
        .item-time {
          font-size: min(1.8vw, 1.2rem);
          color: #555;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .main-page {
    .list-items {
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
