@import '../common/reset';
@import '../common/variables';
@import '../common/utils';

.mypage-container {
  display: flex;
  border-radius: 10px;
  margin: 50px auto;
  width: 100%;
  padding: 50px 0 60px;

  .mypage-list-container {
    display: flex;
    flex-direction: column;
    width: 20%;

    li {
      text-align: center;
      width: 100%;
      padding: 13px;
      box-sizing: border-box;
      border: 2px solid $border-color2;
      border-radius: 5px;
      color: $main-color;
      font-size: 13px;

      a {
        color: $main-color;
      }

      .mypage-edit {
        li {
          border: none;
        }
      }
    }
    :hover {
      color: $border-color;
      cursor: pointer;
    }
  }

  .mypage-info-container {
    display: flex;
    flex-direction: column;
    width: 80%;

    .mypage-info-content {
      margin-left: 75px;
      border: 2px solid $border-color2;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 30px 30px;

      h2 {
        font-size: 2rem;
        margin: 10px 0;
      }

      .mypage-info {
        display: flex;
        width: 100%;
        .mypage-img {
          width: 150px;
          aspect-ratio: 1 / 1;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .mypage-profile {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .mypage-name {
            font-size: 15px;
            margin-left: 20px;
            margin-top: 10px;
          }

          .mypage-money {
            margin-left: 20px;

            display: flex;
            align-items: center;

            .money-balance {
              margin-right: 30px;
              font-size: 13px;
            }
            .money-btn {
              padding: 10px 15px;
            }
          }
        }
      }
    }

    button {
      padding: 0;
      display: block;
      border-radius: 5px;
      color: #fff;
      background-color: $border-color;
      padding-block: 0;
      padding-inline: 0;
      padding: 10px;
      box-sizing: border-box;
      font-weight: bold;
      // width: 100%;
      margin: 0 auto;
      cursor: pointer;
      font-size: 14px;
    }

    .mypage-buy-content {
      margin-left: 70px;
      margin-top: 30px;
      border: 2px solid $border-color2;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 30px 30px;

      h2 {
        font-size: 2rem;
      }

      .more {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
      }
      .more:hover {
        cursor: pointer;
      }

      .buy-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        .buy-img {
          width: 100px;
          aspect-ratio: 1 / 1;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .buy-text {
          font-size: 13px;
          p {
            margin: 10px 0;
          }
        }
      }
    }

    .mypage-seller-content {
      margin-left: 70px;
      margin-top: 30px;
      border: 2px solid $border-color2;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 30px 30px;

      h2 {
        font-size: 2rem;
        margin-bottom: 10px;
      }
    }
  }
}

/* 768px 이하 미디어쿼리 */
@media screen and (max-width: $md) {
  .mypage-container {
    flex-direction: column;

    .mypage-list-container {
      width: 100%;
      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
      }
    }

    .mypage-info-container {
      width: 100%;
      .mypage-info-content,
      .mypage-buy-content,
      .mypage-seller-content {
        margin-left: 0;
      }
    }
  }
}

////////////////////////////////////////////////////////
// 마이페이지 컨텐트 구조
.mypage-content-container {
  margin-left: 70px;
  background-color: $bg-color3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 30px;

  h2 {
    font-size: 2rem;
  }
}

////////////////////////////////////////////////////////
// SellerPage
.err-msg {
  color: red;
}

.mypage-content-container {
  color: $main-color;
  display: flex;
  justify-content: center;
  border: 2px solid $border-color2;
  background-color: #fff;
  &.sell-list {
    flex-direction: column;
    align-items: center;
  }
}

.seller-title {
  margin-bottom: 30px;
  color: black;
  display: flex;
  justify-content: center;
}

.seller-img {
  width: 150px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.seller-container {
  width: 500px;
  #seller {
    .seller-input {
      display: flex;
      flex-direction: column;
      gap: 10px 0;

      label {
        font-size: 15px;
      }

      input {
        width: 100%;
        height: 30px;
        border: 1px solid $border-color;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 10px 0;
      }

      .file-box {
        border: none;
      }

      .drive {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        input {
          width: 15px;
        }
        .drive-choose {
          display: flex;
          align-items: center;
          gap: 0 10px;
        }
      }

      .seller-btn {
        display: flex;
        justify-content: center;
        button {
          width: 100px;
          margin: 0 10px;
        }
      }
    }
  }
}

/* 768px 이하 미디어쿼리 */
@media screen and (max-width: $md) {
  .mypage-content-container {
    margin: 0;
  }
}

////////////////////////////////////////////////////////
// SellListPage
.sell-list-title {
  color: black;
  margin-bottom: 30px;
}
.sell-list-container {
  width: 500px;

  #sell-list {
    display: flex;
    flex-direction: column;

    .sell-list-content {
      border-bottom: 1px solid $border-color2;
      box-sizing: border-box;
      padding-bottom: 20px;
    }

    .sell-list-content-box {
      display: flex;
    }

    .sell-list-img {
      width: 100px;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .sell-list-content-title {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .sell-list-text {
      margin-left: 20px;
      h2 {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }

  #invoice-number-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .sell-status {
      font-size: 13px;
      margin-bottom: 20px;
      span {
        color: red;
      }
    }
    .invoice-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      .readonly-invoice {
        color: gray;
      }
    }
    input {
      width: 50%;
      height: 30px;
      border: 1px solid $border-color;
      border-radius: 5px;
      box-sizing: border-box;
      margin: 10px 0;
    }
    button {
      width: 70px;
    }
  }
}

////////////////////////////////////////////////////////
// OrderHistoryPage

.mypage-content-container {
  &.order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .orderList-title {
    color: black;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .order-list-container {
    // width: 500px;
    // margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    #order-list {
      display: flex;
      flex-direction: column;
      // align-items: center;
    }

    .order-list-content {
      border-bottom: 1px solid $border-color2;
      box-sizing: border-box;
      padding-bottom: 20px;

      .order-list-content-title {
        margin-top: 10px;
        margin-bottom: 20px;
        h2 {
          font-size: 15px;
        }
      }

      .order-list-content-box {
        display: flex;
      }

      .order-img {
        width: 150px;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        margin-bottom: 10px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .order-text {
        display: flex;
        flex-direction: column;
        margin-left: 50px;

        h2 {
          font-size: 15px;
          margin-bottom: 10px;
        }
      }

      .order-btn {
        button {
          width: 100px;
          margin: 5px 0;
        }

        .order-msg {
          color: red;
          margin-top: 20px;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////
/// SellPostListPage
///
.mypage-content-container {
  &.post-list {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }
  .postList-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    h2 {
      color: black;
      font-size: 2rem;
    }
  }
  .post-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 10px;
  }
  .post-list-content {
    margin: 5px 10px;
    .post-img {
      width: 150px;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .post-list-text {
      width: 150px;
      margin-top: 10px;
      h2 {
        font-size: 15px;
        margin-bottom: 5px;
        word-wrap: break-word; // 줄바꿈
        color: $main-color;
      }
      :first-child {
        font-size: 12px;
      }
      :nth-child(2),
      :nth-child(3) {
        color: black;
      }
    }
  }
}
