@import '../common/reset';
@import '../common/variables';
@import '../common/utils';
@import './Address.scss';

.order {
  .order-addressSelect {
    display: none;
    @include modalSetting;
    .address-container {
      position: absolute;
      @include center;
      width: 400px;
    }
  }
  .order-title {
    font-size: min(5vw, 3rem);
    text-align: center;
    padding-bottom: 3rem;
    font-weight: bold;
  }
  .order-bx {
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    gap: 0 5%;
    .order-infos {
      width: 65%;
    }
    .order-paymentInfos {
      position: relative;
      width: 30%;
      box-sizing: border-box;
      .order-paymentBx {
        position: sticky;
        top: 11rem;
        .order-paymentInfo {
          font-size: 1.6rem;
          div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            &.order-payment {
              font-weight: bold;
              span:last-child {
                color: $main-color;
              }
            }
          }
        }
        .order-checkbox {
          label {
            font-size: 1.2rem;
          }
          span {
            display: block;
            color: red;
          }
        }
        .order-paymentBtn {
          a {
            display: block;
            text-align: center;
            background-color: $btn-color;
            width: 100%;
            border-radius: 0.5rem;
            color: #fff;
            padding: 1rem 0;
            font-size: 1.6rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
  button {
    cursor: pointer;
  }
  section {
    h2 {
      font-size: min(4vw, 2.4rem);
      color: $main-color;
      padding: 2rem 0;
      font-weight: bold;
    }
    &.order-itemInfo {
      .order-itemLists {
        @include borderSetting;
        padding: 2rem 1.5rem 0;
        .order-itemList:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }
        .order-itemList {
          margin-bottom: 2.5rem;
          .order-seller {
            font-size: min(3.2vw, 1.6rem);
            margin-bottom: 1em;
          }
          .orderItem {
            display: flex;
            margin-bottom: 1.5rem;
            .orderItem-img {
              aspect-ratio: 1 / 1;
              width: 20%;
              overflow: hidden;
              border-radius: 0.5rem;
              position: relative;
              @include unablePurcheaseItem;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .orderItem-info {
              width: 70%;
              padding-left: 2rem;
              .orderItem-category {
                font-size: min(3vw, 1.3rem);
                color: $main-color;
              }
              .orderItem-title {
                font-size: min(3.2vw, 1.5rem);
                margin-bottom: 0.5rem;
              }
              .orderItem-state {
                font-size: min(3vw, 1.3rem);
                margin-bottom: 1rem;
                color: #333;
              }
              .orderItem-price {
                font-size: min(3.2vw, 1.5rem);
                font-weight: bold;
              }
              .orderItem-sellStatus {
                color: red;
              }
            }
          }
        }
      }
    }
    &.order-userInfo {
      .order-userInfoBx {
        @include borderSetting;
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        > div {
          display: flex;
          font-size: min(3vw, 1.4rem);
          > div:first-child {
            width: 20%;
            margin: 0 2rem;
            color: #333;
          }
        }
      }
    }
    &.order-addrInfo {
      .order-addrTitle {
        display: flex;
        justify-content: space-between;
        .order-chgAddrBtn {
          color: $main-color;
          font-weight: bold;
        }
      }
      .order-addrInfoBx {
        @include borderSetting;
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        > div {
          display: flex;
          font-size: min(3vw, 1.4rem);
          > div:first-child {
            width: 20%;
            margin: 0 2rem;
            color: #333;
          }
          > div:last-child {
            width: 80%;
          }
        }
      }
    }
    &.order-balanceInfo {
      margin-bottom: 10rem;
      .order-balanceBx {
        @include borderSetting;
        padding: 3rem 0 3rem 3rem;
        .order-balanceInput {
          display: flex;
          gap: 0 1.2rem;
          margin-bottom: 1.5rem;
          input {
            display: block;
            border: none;
            border: 1px solid $border-color;
            padding: 1rem 1.5rem;
            border-radius: 1rem;
          }
          button {
            display: block;
            background-color: $border-color;
            color: #fff;
            padding: 1rem 1.5rem;
            border-radius: 1rem;
            font-weight: bold;
          }
        }
        .order-balance {
          font-size: 1.2rem;
          span:nth-child(2) {
            color: $main-color;
            font-weight: bold;
          }
        }
        .order-balanceComment {
          color: red;
        }
      }
    }
  }
}
// 768px 이하 미디어쿼리
@media screen and (max-width: $md) {
  .order {
    .order-bx {
      flex-direction: column;
      .order-infos {
        width: 100%;
        section {
          &.order-itemInfo {
            .order-itemLists {
              .order-itemList {
                .orderItem {
                  .orderItem-img {
                    width: 30%;
                  }
                  .orderItem-info {
                    width: 65%;
                  }
                }
              }
            }
          }
          &.order-balanceInfo {
            margin-bottom: 3rem;
          }
        }
      }
      .order-paymentInfos {
        width: 100%;
        position: static;
        margin-bottom: 5rem;
      }
    }
  }
}
