@import '../common/reset';
@import '../common/variables';
@import '../common/utils';

.error-msg {
  color: red;
}

.register-title {
  text-align: center;
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
  padding-top: 20px;
  width: 100%;
}

.register-container {
  margin: 0 auto;
  width: 500px;
  padding: 30px 0 60px;

  #register {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 100%;
  }

  .register-input {
    width: 100%;
    color: $main-color;

    input {
      width: 100%;
      height: 30px;
      border: 1px solid $border-color;
      border-radius: 5px;
      box-sizing: border-box;
      margin: 5px 0;
    }

    .address-input-container {
      display: flex;
      width: 100%;
      flex-direction: column;

      .input-address {
        display: flex;

        input {
          margin-right: 80px;
        }
      }
    }
  }

  .register-agree-container {
    padding: 20px 15px;
    height: auto;
    border: 2px solid $border-color;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 auto;

    .agree-column {
      margin: 10px 0;

      span {
        display: flex;
        align-items: center;
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 8px;
        }

        h3 {
          font-weight: bold;
          margin: 5px;
        }

        .li-list {
          height: 80px;
          overflow: auto;
          border: 1px solid $border-color2;
          border-radius: 5px;
          padding: 8px 8px;
        }
      }
    }
  }

  button {
    padding: 0;
    display: block;
    border-radius: 5px;
    color: #fff;
    background-color: $border-color;
    padding-block: 0;
    padding-inline: 0;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 14px;
  }
}

/* 640px 이하 미디어쿼리 */
@media screen and (max-width: $sm) {
  .register-container {
    width: 100%;
  }
}
