@import '../common/reset';
@import '../common/variables';
@import '../common/utils';

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid $border-color;
  // padding-top: 2.2rem;
  background-color: #fff;
  .ham-btnbx {
    display: none;
  }
  .header-logo {
    position: absolute;
    left: 0.5rem;
    font-size: 4rem;
    font-family: 'PyeongChangPeace-Bold';
    background: linear-gradient(to bottom, $main-color 0%, $sub-color 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    z-index: 999;
  }
  .header-top {
    position: relative;
    height: 5rem;
    background-color: #fff;
    .header-searchbox {
      position: absolute;
      @include center;
      #search {
        border: none;
        border: 1px solid $border-color;
        border-radius: 1rem;
        width: min(40vw, 54rem);
        height: 3rem;
        box-sizing: border-box;
        padding: 0 1rem;
        &:focus {
          border-color: $main-color;
        }
      }
      .search-btn {
        position: absolute;
        right: 0.5rem;
        color: $main-color;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .side-menu {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      gap: 0 3rem;
      .sales-btn {
        font-size: 1.6rem;
        box-sizing: border-box;
        &:hover {
          a {
            color: $border-color;
          }
        }
        a {
          width: 100%;
          height: 100%;
        }
      }
      .side-menubtn {
        ul {
          display: flex;
          gap: 0 1.6rem;
          font-size: 2rem;
          li {
            &:hover {
              a {
                color: $border-color;
              }
            }
            a {
              color: $main-color;
            }
          }
        }
      }
    }
  }
  nav.gnb {
    ul {
      background-color: #fff;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      padding: 2rem 0 1rem;
      gap: 0 2.4rem;
      font-size: 1.6rem;
      li {
        &:hover {
          a {
            color: $border-color;
          }
        }
        a {
          &.active {
            color: $border-color;
          }
        }
      }
    }
  }
}

/* 640px 이하 미디어쿼리 */
@media screen and (max-width: $sm) {
  header {
    .inner {
      width: 100%;
      padding: 0;
    }
    border: none;
    height: 6rem;
    padding-top: 0;
    border-bottom: 1px solid $border-color;
    .header-logo {
      font-size: 3rem;
      left: 50%;
      transform: translate(-50%, 20%);
    }
    .header-top {
      flex-direction: column;
      gap: 1.3rem 0;
      height: 15rem;
      width: 100%;
      position: relative;
      @include leftMove;
      @include leftMove2;
      .header-search {
        top: 8rem;
        .header-searchbox {
          width: 80vw;
          #search {
            width: 100%;
          }
        }
      }
      .side-menu {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        gap: 1rem 0;
        flex-direction: column;
        top: 10rem;
      }
    }
    nav.gnb {
      @include leftMove;
      @include leftMove2;
      height: 100vh;
      width: 100%;
      ul {
        flex-direction: column;
        gap: 1.6rem 0;
        height: 100%;
        justify-content: flex-start;
        li {
          text-indent: 2rem;
        }
      }
    }
    .ham-btnbx {
      display: block;
      position: absolute;
      top: 0;
      transform: translateY(30%);
      width: 35px;
      height: 35px;
      button {
        position: absolute;
        font-size: 2.6rem;
        color: #000;
        cursor: pointer;
        &.back-btn {
          display: none;
        }
      }
    }
  }
}
